<script src="//unpkg.com/force-graph"></script>
<script src="//unpkg.com/d3-quadtree"></script>
<script src="//unpkg.com/d3-force"></script>
<body>
<div class="controls">
    <div>
        <label for="input">Change to modify charge</label>
        <input id="input" type="range" min="-50" max="50" step="1"  />
    </div>
    <p>Charge: <output id="value"></output></p>
    <button id="reset">Reset Charge</button>
</div>
<div id="graph"></div>
</body>
<script>
    // graph.onEngineStop(() => graph.zoomToFit(400));
    const elem = document.getElementById('graph')
    const graph = ForceGraph()(elem).cooldownTicks(200).d3Force('charge', d3.forceManyBody().strength(0));
    graph.width(600);
    graph.height(400);
    const nodes = [...Array(50).keys()].map(i => ({ id: i }))
    const links = [...Array(20).keys()].filter(id => id).map(id => ({source: id, target: Math.round(Math.random() * (id-1))}))
    graph.graphData({nodes, links});
    const value = document.querySelector("#value")
    const input = document.querySelector("#input")
    const reset = document.querySelector("#reset")
    value.textContent = input.value
    input.addEventListener("input", (event) => {
        value.textContent = event.target.value
        graph.graphData({nodes, links}).d3Force('charge', d3.forceManyBody().strength(event.target.value))
    })
    reset.addEventListener("click", (event) => {
        input.value = 0;
        value.textContent = '0'
        graph.graphData({nodes, links}).d3Force('charge', d3.forceManyBody().strength(0))
    })
</script>
<style lang="scss">
#graph {
    width: 100%;
    border: 1px solid gray;
}

.controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

</style>