
//
// VARIABLES
//

// Colors
$blue: #07b8cd;
$red: #035C66;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: "iosevka", Helvetica, Arial, sans-serif;
$helveticaNeue: "iosevka", "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}